// Layout

html {
	background-color: #fff;
}

body {

}

.layout {
  @include container-fixed;

  @include mq($from: screen-sm--min) {
    width: $container-sm;
  }

  @include mq($from: screen-md--min) {
    width: $container-md;
  }

  @include mq($from: screen-lg--min) {
    width: $container-lg;
  }

  @include mq($from: screen-xl--min) {
    width: $container-xl;
  }
}

// Row
// Rows contain and clear the floats of your columns.
#{$grid-row-prefix} {
  @include make-row;
}

// Columns
// Common styles for small and large grid columns
@include make-grid-columns;

// Small grid
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@include mq($from: screen-sm--min) {
  @include make-grid(sm);
}

// Medium grid
// Columns, offsets, pushes, and pulls for the desktop device range.
@include mq($from: screen-md--min) {
  @include make-grid(md);
}

// Large grid
// Columns, offsets, pushes, and pulls for the large desktop device range.
@include mq($from: screen-lg--min) {
  @include make-grid(lg);
}

.region {
  @include clearfix;

  &--b {

    @include mq($from: screen-sm--min) {
      float: right;
    }
  }
}
