// Brand
$color-brand--a: #000;
$color-brand--b: #333;
$color-brand--c: #555;

// Social colors
$color-social--twitter: #55acee;
$color-social--facebook: #3b5998;
$color-social--linkedin: #1c86bd;
$color-social--youtube: #cd201f;
$color-social--tumblr: #35465d;
$color-social--pinterest: #cc2127;
$color-social--gplus: #dd4b39;
$color-social--blog: #FF8608;
