// Font Families
$font-family--sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif: "Georgia Pro", Georgia, Times, serif;
$font-family--mono: "Anonymous Pro", "Droid Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, "Lucida Console", Courier, monospace;

//Font Weights
$font-weight--ultra: 900 !default;
$font-weight--extrabold: 800 !default;
$font-weight--bold: 700 !default;
$font-weight--semibold: 600 !default;
$font-weight--medium: 500 !default;
$font-weight--regular: 400 !default;
$font-weight--light: 300 !default;
$font-weight--thin: 100 !default;
