{{#extend "master"}}
  {{#content "master__head" mode="append"}}
    {{#block "head"}}{{/block}}
  {{/content}}
  {{#content "master__main"}}
    <ul class="lab-list">
      {{#each filelist}}
      <li class="lab-list__item">
        <a href="{{this}}">{{this}}</a>
      </li>
      {{/each}}
      <li class="lab-list__item"><a href="styleguide.html">Style Guide</a></li>
    </ul>
  {{/content}}
  {{#content "master__foot" mode="append"}}
    {{#block "foot"}}{{/block}}
  {{/content}}
{{/extend}}

