<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />

    <title>{{pageData.title}}</title>
    <meta name="description" content="{{pageData.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{#block "master__head"}}{{/block}}

    <!-- head:css -->
    <!-- endinject -->

    <!-- head:js -->
    <!-- endinject -->

    <!-- NOTE: access.js is for Lab Site only, do not include solution. -->
    <!-- access:js -->
    <!-- endinject -->

  </head>
  <body>
    {{> browser-upgrade}}

    {{#block "master__header"}}
      {{> header}}
    {{/block}}

    <main class="main" role="main">
      {{#block "master__main"}}{{/block}}
    </main>

    {{#block "master__footer"}}
      {{> footer}}
    {{/block}}

    {{#block "master__foot"}}
      <!--[if !(lt IE 9)]><!-->

      <!-- foot:js -->
      <!-- endinject -->

      <!--<![endif]-->
    {{/block}}

  </body>
</html>
