<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />

    <title>{{pageData.title}}</title>
    <meta name="description" content="{{pageData.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- head:css -->
    <!-- endinject -->

    <!-- styleguide:css -->
    <!-- endinject -->

    <!-- head:js -->
    <!-- endinject -->

    <!-- access:js -->
    <!-- endinject -->

  </head>
  <body>
    {{> browser-upgrade}}

    <header class="sg-header" role="banner">
      <h1 class="sg-header__title">{{pageData.title}}</h1>
    </header>

    <!--[if !(lt IE 9)]><!-->

    <!-- foot:js -->
    <!-- endinject -->

    <!-- styleguide:js -->
    <!-- endinject -->

    <!--<![endif]-->

  </body>
</html>
