// Buttons

/**
* Default Button:
*
*     @example
*     button.button Default Button
*     a.button Default Button Link
*/
.button {
  background: $color-brand--a;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: $baseline * 3;
  outline: 0;
  padding: $baseline 10px;
  text-align: center;
  text-decoration: none;
}
